# Local Terraform state
*.tfstate
*.tfstate.*

# .tfvars files should not be committed if they contain secrets
*.tfvars
*.tfvars.json

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually environment-specific
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include provider configuration files that may contain sensitive information
.terraformrc
terraform.rc

# Terraform lock file should be committed
# !.terraform.lock.hcl

# Terraform plan files
*.tfplan
